<template>
  <div>
    <MetronomeApp />
  </div>
</template>

<script>
// @ is an alias to /src
import MetronomeApp from "@/components/MetronomeApp.vue";

export default {
  name: "HomeView",
  components: {
    MetronomeApp,
  },
};
</script>
