<template>
  <div class="metronome">
    <!-- Tempo -->
    <div id="bpm">{{ Math.round(tempo) }}</div>

    <!-- Slider -->
    <p>
      <input
        class="form-range"
        id="tempoSlider"
        type="range"
        min="30"
        max="250"
        :value="tempo"
        step="1"
        @input="updateTempoFromSlider"
      />
    </p>

    <!-- Input -->
    <div class="input-button-container">
      <div class="input-group container text-center">
        <!-- Pulses -->
        <select class="form-select" id="selectPulse" v-model="selectedPulse">
          <option value="">Pulses</option>
          <option v-for="pulse in pulses" :key="pulse" :value="pulse">
            {{ pulse }}
          </option>
        </select>
        <!-- Steps -->
        <select class="form-select" id="selectStep" v-model="selectedStep">
          <option value="">Steps</option>
          <option v-for="step in steps" :key="step" :value="step">
            {{ step }}
          </option>
        </select>
        <!-- Play button -->
        <button
          class="btn btn-lg btn-outline-success custom-color-btn"
          id="startButton"
          @click="playTimeline()"
          type="button"
          :disabled="!isValidPatternInput"
        >
          start
        </button>

        <!-- Variations button -->
        <button
          @click="selectNextPattern()"
          class="btn btn-lg btn-outline-success custom-color-btn"
          title="Change the timeline by spreading the onsets differently."
        >
          ⟳
        </button>
      </div>
    </div>

    <!-- Sequencer -->
    <div class="drum-sequencer-container">
      <div class="drum-sequencer">
        <button
          v-for="(step, index) in pattern"
          :key="index"
          @click="toggleStep(index)"
          :class="{ active: step === 1, tick: tick && step === 1 }"
        ></button>
      </div>
    </div>

    <!-- Validation errors -->
    <div
      v-if="error"
      class="alert alert-danger alert-dismissible fade show"
      role="alert"
      style="margin-top: 0.75rem"
    >
      <p>{{ error }}</p>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
  </div>
  <!-- Test -->
</template>

<script>
import * as Tone from "tone";

export default {
  name: "MetronomeApp",
  data() {
    return {
      tempo: "100",
      tick: false,
      pattern: this.bjorklund(5, 8),
      error: "",
      pulses: Array.from({ length: 24 }, (_, i) => i + 1),
      selectedPulse: 5,
      steps: Array.from({ length: 24 }, (_, i) => i + 1),
      selectedStep: 8,
      prevSelectedPulse: 5,
      prevSelectedStep: 8,
      currentVariationIndex: 0,
      patternChanged: false,
    };
  },
  mounted() {
    // Run commands from the keyboard
    document.addEventListener("keydown", this.handleKeyDown);
  },
  watch: {
    selectedPulse(newPulse, oldPulse) {
      if (newPulse !== oldPulse) {
        this.pattern = this.bjorklund(newPulse, this.selectedStep);
        let startButton = document.getElementById("startButton");
        if (Tone.Transport.state === "started") {
          stop();
          startButton.innerText = "start";
          this.playTimeline();
        }
        // I don't like the auto-play here
        // this.playTimeline();
      }
    },
    selectedStep(newStep, oldStep) {
      if (newStep !== oldStep) {
        this.pattern = this.bjorklund(this.selectedPulse, newStep);
        let startButton = document.getElementById("startButton");
        if (Tone.Transport.state === "started") {
          stop();
          startButton.innerText = "start";
          this.playTimeline();
        }
        // this.playTimeline();
      }
    },
  },
  methods: {
    updateTempoFromSlider() {
      const tempoSlider = document.getElementById("tempoSlider");
      this.tempo = Math.round(parseFloat(tempoSlider.value)); // Round to nearest integer
      Tone.Transport.bpm.value = this.tempo;
      document.getElementById("bpm").textContent = this.tempo.toString(); // Update display
    },
    toggleStep(index) {
      this.pattern[index] = this.pattern[index] === 1 ? 0 : 1;
    },
    selectNextPattern() {
      this.currentVariationIndex =
        (this.currentVariationIndex + 1) %
        this.changeTimeline(this.selectedPulse, this.selectedStep).length;
      this.pattern = this.changeTimeline(this.selectedPulse, this.selectedStep)[
        this.currentVariationIndex
      ];
      this.patternChanged = true;

      // Auto-play when changing the timeline
      let startButton = document.getElementById("startButton");
      if (Tone.Transport.state === "started") {
        stop();
        startButton.innerText = "start";
        this.playTimeline();
      }
      this.playTimeline();
    },
    onsets(n, k) {
      const interval = k / n;
      let delta = 0;
      const result = [[0]];

      for (let i = 0; i < n - 1; i++) {
        delta += interval;
        result.push([Math.floor(delta), Math.ceil(delta)]);
      }
      return result;
    },
    cartesianProduct(list) {
      if (list.length === 0) {
        return [[]];
      } else {
        const [first, ...rest] = list;
        const result = [];

        const remainingProducts = this.cartesianProduct(rest);

        for (const i of first) {
          for (const j of remainingProducts) {
            result.push([i, ...j]);
          }
        }
        return result;
      }
    },
    // Generate a family of almost maximally even rhythms
    changeTimeline(pulses, steps) {
      const almostEven = [];
      const results = [];
      const lists = this.cartesianProduct(this.onsets(pulses, steps));

      for (const sublist of lists) {
        const pattern = new Array(steps).fill(0);

        for (const elt of sublist) {
          pattern[elt] = 1;
        }

        almostEven.push(pattern);
      }
      // Remove arrays whose ones are not equal to N
      for (const x of almostEven) {
        if (x.reduce((sum, value) => sum + value, 0) === pulses) {
          results.push(x);
        }
      }

      return results;
    },
    bjorklund(pulses, steps) {
      if (pulses < 0 || steps < 0 || steps < pulses) {
        return [];
      }
      // Create the two arrays
      let head = new Array(pulses).fill([1]);
      let remainders = new Array(steps - pulses).fill([0]);
      // Pick the shortest one
      let minLength = Math.min(head.length, remainders.length);
      let loopThreshold = 0;

      while (minLength > loopThreshold) {
        // Allow only loopThreshold to be zero on the first loop
        if (loopThreshold === 0) {
          loopThreshold = 1;
        }
        for (let i = 0; i < minLength; i++) {
          head[i] = Array.prototype.concat.call(head[i], remainders[i]);
        }

        if (minLength === head.length) {
          // remainders[minLength -> end]
          remainders = Array.prototype.slice.call(remainders, minLength);
        } else {
          remainders = Array.prototype.slice.call(head, minLength);
          head = Array.prototype.slice.call(head, 0, minLength);
        }
        minLength = Math.min(head.length, remainders.length);
      }

      let sequence = [];
      sequence = Array.prototype.concat.call(head, remainders).flat();
      return sequence;
    },
    // Validade input and throw error if needed
    isValidPatternInput() {
      return this.selectedPulse < this.selectedStep;
    },
    stopPlayback() {
      Tone.Transport.stop();
      Tone.Transport.cancel(0);
    },
    playTimeline() {
      // Validate the input before proceeding
      if (!this.isValidPatternInput()) {
        this.error =
          "Invalid input. The second integer has to be greater than the first.";
        return;
      }

      const click = new Tone.MembraneSynth({
        octaves: 1,
        envelope: {
          attack: 0.001, // FIXME: Chrome changes the sound of the 1st
          // note only
          decay: 0.001, // Shorter decay for a snappy sound
          sustain: 0.0001,
        },
      }).toDestination();

      const loopInterval = Tone.Time("16n");
      const steps = this.selectedStep; // Define steps here

      // Generate a new pattern only if the sound is not started and pattern has
      // changed
      if (!this.patternChanged) {
        this.pattern = this.bjorklund(this.selectedPulse, steps);
        this.patternChanged = false;
      } else {
        this.patternChanged = true;
      }

      // timeSignature 7/8 is either 3.5 or [7, 8]
      Tone.Transport.timeSignature = [steps, 16];

      const rhythmLoop = new Tone.Loop((time) => {
        this.pattern.forEach((note, index) => {
          // Make the first beat slightly louder to make the cycle more
          // distinguishable
          const velocity = index === 0 ? 2 : 1;
          if (note === 1) {
            click.triggerAttackRelease(
              "B7",
              "64n",
              time + index * loopInterval,
              velocity
            );
          }
        });
      }, "1m"); // Set loop duration to 1 measure

      const start = () => {
        Tone.Transport.start();
        rhythmLoop.start(0); // Start the loop at the beginning of the transport
      };

      // Start the loop when the transport starts
      const stop = () => {
        Tone.Transport.stop();
        Tone.Transport.cancel(0);
      };

      let tempoSlider = document.getElementById("tempoSlider");
      let bpm = document.getElementById("bpm");
      bpm.textContent = tempoSlider.value;
      Tone.Transport.bpm.value = tempoSlider.value; // Set initial BPM correctly
      // Tone.Transport.bpm.rampTo(tempoSlider.value, 2);

      let startButton = document.getElementById("startButton");
      if (Tone.Transport.state === "started") {
        stop();
        startButton.innerText = "start";
      } else {
        Tone.start();
        start();
        startButton.innerText = "stop";
      }

      // Update the tempo and tempoSlider value after starting playback
      this.tempo = Tone.Transport.bpm.value.toString();
      tempoSlider.value = this.tempo;
    },
    handleKeyDown(event) {
      const startButton = document.getElementById("startButton");

      const key = event.key;
      switch (key) {
        case "Enter":
          if (document.activeElement !== startButton) {
            this.playTimeline();
          }
          break;
        case "ArrowLeft":
          this.changeTempo(true);
          break;
        case "ArrowRight":
          this.changeTempo();
          break;
      }
    },
    changeTempo(decrement) {
      const tempoSlider = document.getElementById("tempoSlider");

      if (!decrement && this.tempo < 250) {
        this.tempo++;
        Tone.Transport.bpm.value = ++tempoSlider.value;
      } else if (decrement && this.tempo > 30) {
        this.tempo--;
        Tone.Transport.bpm.value = --tempoSlider.value;
      }
    },
  },
};
</script>

<!--https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ -->
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
input[type="range"] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background-color: #000;
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000, 0px 0px 1px #0d0d0d;
  border: 1px solid #333;
  background: #fff;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background-color: #000;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000, 0px 0px 1px #0d0d0d;
  border: 1px solid #333;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

#bpm {
  font-size: 48px;
  /* margin-bottom: 1rem; */
}

.drum-sequencer-container {
  display: flex;
  justify-content: center;
  margin-top: 1.95rem;
}

.drum-sequencer {
  display: flex;
  gap: 0;
}

.drum-sequencer button {
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 0.5px solid #777;
}

/* James Koetting's tubs notation */
.drum-sequencer button.active {
  position: relative;
}

.drum-sequencer button.active::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .drum-sequencer button.tick { */
/*   background-color: gray; */
/* } */

.input-button-container {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-color-btn {
  color: #326450;
  border-color: #aaa;
}

.custom-color-btn:hover,
.custom-color-btn:focus {
  background-color: #64c8aa;
  color: #fff;
}

.variation-button {
  border-radius: 3px;
}

.bottom-text {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}
</style>
