<template>
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="p-4">
      <h5 class="h4">About</h5>
      <p class="text-muted">
        This metronome uses a non-Western approach to time-keeping based on
        short periodic rhythms known as timelines, and was inspired by the works
        of James Koetting and Godfried Toussaint.
      </p>
      <p class="text-muted">
        Press <kbd>Enter</kbd> to toggle the playback and use the arrow keys to
        move the slider. You can also spread the onsets differently by pressing
        the button on the right, or you can change patterns manually by clicking
        on the boxes.
      </p>

      <footer>
        <a class="link-dark" href="https://git.sr.ht/~jagrg/timeline/tree"
          >MIT License</a
        >
      </footer>
    </div>
  </div>
  <nav class="navbar">
    <div class="container-fluid">
      <span class="navbar-brand">timeline metronome</span>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="me-auto navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  <br />
  <router-view />
</template>

<style>
.text-muted {
  text-align: justify;
}

.text-muted > kbd {
  color: #303030;
  background-color: #f8f8f8;
  display: inline-block;
  padding: 0.25em 0.35em;
  line-height: 70%;
  vertical-align: middle;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  box-shadow: inset 0 -1px 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width: 100%;
  height: auto;
  max-width: 500px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 30px;
  padding-top: 20px;
  text-align: center;
}

.navbar-brand {
  font-variant: small-caps;
}
</style>
